*{
    margin:0;
    padding: 0;
}
body{
    width: 1200px;
    max-width:90%;
    margin:0 auto;
}
/* defold */
.top-player-area, .blogs{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.player-area img {
    width: 50%;
    height: 60px;
    width: 60px;
}
.player-area {
    margin-top: 34px;
}
.player-area, .blog {
   display: flex;
   align-items: center;
}
@media (max-width:992px){
    .top-player-area {
        grid-template-columns: repeat(2 , 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        background-color: blue;
    }
    
}


@media(max-width:662px){
    .top-player-area {
        grid-template-columns: repeat(1 , 1fr);
    }
}

.blogs{
    grid-template-columns: repeat(2, 1fr);
}
.thumbnail img {
    width: 200px;
    height: 120px;
    width: 154px;
}
section.top-player-main {
    margin-top: 25px;
}
.thumbnail {
    margin-right: 25px;
}
section.blog-main-area {
    margin-top: 73px;
}


